@model ProductViewModel
@inject ICloudinaryService _cloudinaryService
@{
    ViewData["Title"] = Model.CarName;
}

<!-- Sub Banner end -->
<!-- Car details page start -->
<div class="car-details-page content-area carsection">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-xs-12">
                <div class="car-details-section">
                    <div class="heading-car-3 clearfix">
                        <div class="pull-left">
                            <h3>@Model.CarName</h3>
                        </div>
                        <div class="pull-right">
                            <h3>$@Model.Price.ToString("#")</h3>
                            <div class="clearfix"></div>
                            
                        </div>
                    </div>
                    <!-- Cardetailsslider 3 start -->
                    <div class="cardetailsslider-3 clearfix mb-30">
                        <div class="product-img-slide">
                            <div class="slider-for">
                                @foreach(var item in Model.Photos ){
                                    <img src="@_cloudinaryService.BuildUrl(item)" class="img-fluid w-100" alt="@Model.CarName">
                                }
                            </div>
                            <div class="slider-nav">
                                @foreach(var item in Model.Photos){
                                    <div class="thumb-slide"><img src="@_cloudinaryService.BuildUrl(item)" class="img-fluid" alt="@Model.CarName"></div>
                                }
                               
                                
                            </div>
                        </div>
                    </div>
                    <!-- Advanced search start -->
                    <div class="widget-2 advanced-search bg-grea-2 d-lg-none d-xl-none">
                        <h3 class="sidebar-title">Avtomobilin Parametrləri</h3>
                        <ul>
                            <li>
                                <span>Marka</span>@Model.Marka
                            </li>
                            <li>
                                <span>Model</span>@Model.Model
                            </li>
                            <li>
                                <span>Ban növü</span>@Model.BodyStyle
                            </li>
                            <li>
                                <span>İstehsal ili</span>@Model.Year
                            </li>
                            <li>
                                <span>Vəziyyət</span>@Model.Condition
                            </li>
                            <li>
                                <span>Yürüş</span>@Model.Killometer km
                            </li>
                            <li>
                                <span>İntteryer</span>@Model.İnteryer
                            </li>
                            <li>
                                <span>Transmissiya</span>@Model.Transmissiya
                            </li>
                            <li>
                                <span>Mühərrik</span>@Model.Engine
                            </li>
                            <li>
                                <span>Yanacaq növü</span>@Model.FuelType
                            </li>
                        </ul>
                    </div>
                    <!-- Description start -->
                    <div class="Description mb-50">
                        <h3 class="heading-2">Təsvir</h3>
                        <p>@Model.Description</p>
                        </div>
                    <!-- Car amenities start 
                    <div class="car-amenities mb-40">
                        <h3 class="heading-2">Spesifikasiyalar</h3>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <ul class="amenities">
                                    <li>
                                        <i class="fa fa-check"></i>Top Speed: 270
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>Fuel Type: Diesel
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>Mileage: 35,200 KM
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>Engine: 2901
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>Gear: 4
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <ul class="amenities">
                                    <li>
                                        <i class="fa fa-check"></i>Drive Train: Front Wheel
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>Body Style: Sedan
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>Year:2019
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>Fuel Type: Diesel
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>Interior Color: White
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <ul class="amenities">
                                    <li>
                                        <i class="fa fa-check"></i>Doors: 4
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>Horse Power: 310
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>Location: Florisa, USA
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>Interior Color: Black
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>Security
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>-->
                    <!-- Features info start -->
                    <div class="features-info mb-40">
                        <h3 class="heading-2">Xüsusiyyətləri</h3>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <ul>
                                    @foreach(var item in Model.Futures)
                                    {
                                        <li>
                                            @item
                                        </li>
                                    }
                                   
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                   
                    
                    <!-- location start -->
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-right">
                    <!-- Advanced search start -->
                    <div class="widget advanced-search d-none d-xl-block d-lg-block">
                        <h3 class="sidebar-title">Booking This Car</h3>
                        <ul>
                            <li>
                                <span>Marka</span>@Model.Marka
                            </li>
                            <li>
                                <span>Model</span>@Model.Model
                            </li>
                            <li>
                                <span>Ban növü</span>@Model.BodyStyle
                            </li>
                            <li>
                                <span>İstehsal ili</span>@Model.Year
                            </li>
                            <li>
                                <span>Vəziyyət</span>@Model.Condition
                            </li>
                            <li>
                                <span>Yürüş</span>@Model.Killometer km
                            </li>
                            <li>
                                <span>İntteryer</span>@Model.İnteryer
                            </li>
                            <li>
                                <span>Transmissiya</span>@Model.Transmissiya
                            </li>
                            <li>
                                <span>Mühərrik</span>@Model.Engine
                            </li>
                            <li>
                                <span>Yanacaq növü</span>@Model.FuelType
                            </li>
                        </ul>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Car details page end -->


@section Head{
              <!-- Custom stylesheet -->
            <link rel="stylesheet" type="text/css" href="~/css/initial.css" asp-append-version="true">
            <link rel="stylesheet" type="text/css" href="~/css/style.css" asp-append-version="true">
            <link rel="stylesheet" type="text/css" id="style_sheet" href="~/css/skins/midnight-blue.css">
            <style>
        .carsection{
            margin-top: 100px;
        }
            </style>
}
@section Scripts{
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script  src="~/js/ie10-viewport-bug-workaround.js" asp-append-version="true"></script>
            <!-- Custom javascript -->
            <script  src="~/js/ie10-viewport-bug-workaround.js" asp-append-version="true"></script>
}